@import "~flexboxgrid-sass/dist/flexboxgrid.css";
@import "./nprogress.css";

@font-face {
  font-family: "roboto";
  src: url("../../public/font/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

